/* TOGGLES */
/* turn off the display for goggled elements */
body>input.logic
{
    display: none;
}

body>input.logic[type='checkbox'][for='popup1']:not(:checked)~#body .popup1[toggle]:not([toggle='false']),
body>input.logic[type='checkbox'][for='popup2']:not(:checked)~#body .popup2[toggle]:not([toggle='false'])
{
    display: none;
    max-width: 0px;
    max-height: 0px;
}

/* POPUP TOGGLES */
.popup[toggle]
{
    position: fixed;
    z-index: 9999999999999999;
}

.popup[toggle]::before{
    content: ' ';
    display: inline-block;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    position: fixed;
    pointer-events: all;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
}